## Creating Dataframe

In [1]:
import pandas as pd

In [3]:
# Creating through list

country = ['Pakistan','India','Japan','Duabai']

pd.Series(country)

0    Pakistan
1       India
2       Japan
3      Duabai
dtype: object

In [4]:
# Creating through numbers

num=[22,11,33,14,7,9]

pd.Series(num)

0    22
1    11
2    33
3    14
4     7
5     9
dtype: int64

In [5]:
# Creating through index
marks = [70,50,40,60,65]

subject = ['Computer','Physics','Urdu','English','Math']

pd.Series(marks,index=subject)

Computer    70
Physics     50
Urdu        40
English     60
Math        65
dtype: int64

In [178]:
# craeting the name of series

marks = [70,50,40,60,65]

subject = ['Computer','Physics','Urdu','English','Math']

marks_ser = pd.Series(marks,index=subject,name='Marks of Students')

In [11]:
# Series from Dictionary
mark = {
    
    'Math' : 50,
    'Computer' : 60,
    'English' : 65,
    'Physics' : 72
    
}

mark_ser = pd.Series(mark,name = 'Student Marks')

mark_ser

Math        50
Computer    60
English     65
Physics     72
Name: Student Marks, dtype: int64

In [13]:
# size

mark_ser.size

4

In [15]:
# checking datatype

mark_ser.dtype

dtype('int64')

In [18]:
# checking the the name of series

mark_ser.name

'Student Marks'

In [20]:
mark_ser.is_unique

True

In [21]:
# cheking the index

mark_ser.index

Index(['Math', 'Computer', 'English', 'Physics'], dtype='object')

In [22]:
# cheking the values

mark_ser.values

array([50, 60, 65, 72], dtype=int64)

In [29]:
subs = pd.read_csv('E:\Datasets\Pandas_dataSets\subs.csv')

# this is a data frame
# we can chaeck

print(type(subs))

# we converst it in Series

subs = pd.read_csv('E:\Datasets\Pandas_dataSets\subs.csv',squeeze=True)

print(type(subs))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

C:\Users\Moavia computer\AppData\Local\Temp\ipykernel_14296\2609617994.py:10: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv('E:\Datasets\Pandas_dataSets\subs.csv',squeeze=True)

In [35]:
ipl = pd.read_csv('E:\Datasets\Pandas_dataSets\kohli_ipl.csv',index_col = 'match_no',squeeze=True)

type(ipl)

C:\Users\Moavia computer\AppData\Local\Temp\ipykernel_14296\3111982049.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  ipl = pd.read_csv('E:\Datasets\Pandas_dataSets\kohli_ipl.csv',index_col = 'match_no',squeeze=True)

pandas.core.series.Series

In [37]:
# head() method give the top 5 row from the series

subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [38]:
# we can also do this
subs.head(10)

0    48
1    57
2    40
3    43
4    44
5    46
6    33
7    40
8    44
9    74
Name: Subscribers gained, dtype: int64

In [40]:
# tail() method give the last 5 row from the series


ipl.tail()

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [41]:
# we can also do this

ipl.tail(10)

match_no
206     0
207     0
208     9
209    58
210    30
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [42]:
# sample() method give us a random value from our data

ipl.sample()

match_no
164    100
Name: runs, dtype: int64

In [45]:
# we can also do this

subs.sample(10)

357    177
32      50
51     128
164    180
322    157
352    196
339    221
229    261
278    173
250    179
Name: Subscribers gained, dtype: int64

In [52]:
movies = pd.read_csv('E:\\Datasets\\Pandas_dataSets\\bollywood.csv',index_col='movie')

print(type(movies))

# we covert this data frame into series by using squeez function
movies = pd.read_csv('E:\\Datasets\\Pandas_dataSets\\bollywood.csv',index_col='movie',squeeze=True)

print(type(movies))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

C:\Users\Moavia computer\AppData\Local\Temp\ipykernel_14296\3274647846.py:6: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  movies = pd.read_csv('E:\\Datasets\\Pandas_dataSets\\bollywood.csv',index_col='movie',squeeze=True)

In [53]:
# value_counts() it gives the number of differnet values in our data

movies.value_counts()

Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: lead, Length: 566, dtype: int64

In [54]:
# sort_values function by default sort the all values in ascending order

movies.sort_values()

movie
Qaidi Band                            Aadar Jain
Roar: Tigers of the Sundarbans      Aadil Chahal
Lipstick Under My Burkha            Aahana Kumra
Raat Gayi Baat Gayi?                Aamir Bashir
Talaash: The Answer Lies Within       Aamir Khan
                                        ...
Dil Toh Deewana Hai                  Zeenat Aman
Sallu Ki Shaadi                      Zeenat Aman
Strings of Passion                   Zeenat Aman
Dunno Y... Na Jaane Kyon             Zeenat Aman
Taj Mahal: An Eternal Love Story     Zulfi Sayed
Name: lead, Length: 1500, dtype: object

In [58]:
# sort_values function sort the all values in descending order if we pass the parameter ascending=False

movies.sort_values(ascending=False)

movie
Taj Mahal: An Eternal Love Story     Zulfi Sayed
Dil Toh Deewana Hai                  Zeenat Aman
Strings of Passion                   Zeenat Aman
Sallu Ki Shaadi                      Zeenat Aman
Dunno Y... Na Jaane Kyon             Zeenat Aman
                                        ...
Fanaa (2006 film)                     Aamir Khan
Raat Gayi Baat Gayi?                Aamir Bashir
Lipstick Under My Burkha            Aahana Kumra
Roar: Tigers of the Sundarbans      Aadil Chahal
Qaidi Band                            Aadar Jain
Name: lead, Length: 1500, dtype: object

In [67]:
movies.sort_values(ascending=False)

movie
Taj Mahal: An Eternal Love Story     Zulfi Sayed
Strings of Passion                   Zeenat Aman
Dil Toh Deewana Hai                  Zeenat Aman
Dunno Y... Na Jaane Kyon             Zeenat Aman
Sallu Ki Shaadi                      Zeenat Aman
                                        ...
Talaash: The Answer Lies Within       Aamir Khan
Raat Gayi Baat Gayi?                Aamir Bashir
Lipstick Under My Burkha            Aahana Kumra
Roar: Tigers of the Sundarbans      Aadil Chahal
Qaidi Band                            Aadar Jain
Name: lead, Length: 1500, dtype: object

In [70]:
ipl.sort_values(ascending=False,inplace=True)

In [71]:
ipl

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [60]:
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

In [62]:
# this will not change the original data

movies.sort_index(ascending=False)

movie
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Zokkomon                       Darsheel Safary
Zindagi Tere Naam           Mithun Chakraborty
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi 50-50                      Veena Malik
                                   ...
2 States (2014 film)              Arjun Kapoor
1971 (2007 film)                Manoj Bajpayee
1920: The Evil Returns             Vicky Ahuja
1920: London                     Sharman Joshi
1920 (film)                   Rajniesh Duggall
Name: lead, Length: 1500, dtype: object

In [63]:
# original data not changed
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [64]:
# if we want to change the original data we set the parameter inpalce =True

movies.sort_index(ascending=False,inplace=True)

In [72]:
# now original data changed and indexes are sorted in descending order

movies

movie
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Zokkomon                       Darsheel Safary
Zindagi Tere Naam           Mithun Chakraborty
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi 50-50                      Veena Malik
                                   ...
2 States (2014 film)              Arjun Kapoor
1971 (2007 film)                Manoj Bajpayee
1920: The Evil Returns             Vicky Ahuja
1920: London                     Sharman Joshi
1920 (film)                   Rajniesh Duggall
Name: lead, Length: 1500, dtype: object

## Series Math Methods

In [80]:
# count() this function count the number of rows in data
# count does not count the nan values

print(movies.count())

print(ipl.count())

1500
215

In [85]:
# sum() function sum of all values in a series

print(ipl.sum())

print(subs.sum())

6634
49510

In [86]:
print(subs.product())

0

In [90]:
# mean() it give the mean value

print(subs.mean())

print(ipl.mean())

135.64383561643837
30.855813953488372

In [91]:
print(subs.median())

print(ipl.median())

123.0
24.0

In [95]:
print(subs.mode())

print(ipl.mode())

movies.mode()

0    105
Name: Subscribers gained, dtype: int64
0    0
Name: runs, dtype: int64

0    Akshay Kumar
Name: lead, dtype: object

In [98]:
print(ipl.std())

print(subs.std())

26.22980132830278
62.67502303725269

In [101]:
print(ipl.var())

print(subs.var())

688.0024777222343
3928.1585127201556

In [106]:
print(ipl.max())

print(subs.min())

113
33

In [108]:
print(ipl.describe())

print(subs.describe())

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64
count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

In [109]:
ipl.info()

<class 'pandas.core.series.Series'>
Int64Index: 215 entries, 128 to 135
Series name: runs
Non-Null Count  Dtype
--------------  -----
215 non-null    int64
dtypes: int64(1)
memory usage: 3.4 KB

In [110]:
subs.info()

<class 'pandas.core.series.Series'>
RangeIndex: 365 entries, 0 to 364
Series name: Subscribers gained
Non-Null Count  Dtype
--------------  -----
365 non-null    int64
dtypes: int64(1)
memory usage: 3.0 KB

## Series Indexing

`Series only work with positive indexing`

`it does not work with negative indexing`

In [111]:
marks

[70, 50, 40, 60, 65]

In [112]:
marks[2]

40

In [114]:
ipl[30]

38

In [115]:
movies[1000]

'Vidya Balan'

In [118]:
# ipl[-1] this code gives us a error because series does not work with negative indexing

In [128]:
# Slicing

movies[11:21]

movie
Zed Plus                     Vinod Acharya
Zameer: The Fire Within         Ajay Devgn
Zameen (2003 film)              Ajay Devgn
Zamaanat                         Jeetendra
Yuvvraaj                       Salman Khan
Yuva                            Ajay Devgn
Yun Hota Toh Kya Hota         Paresh Rawal
Youngistaan                Jackky Bhagnani
Yeh Saali Aashiqui            Vardhan Puri
Yeh Mera India                 Anupam Kher
Name: lead, dtype: object

In [130]:
ipl[0:]

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [131]:
ipl[:25]

match_no
128    113
126    109
123    108
164    100
120    100
82      99
81      93
145     92
178     90
160     84
110     82
119     80
117     79
116     75
127     75
99      73
68      73
213     73
175     72
188     72
41      71
152     70
52      70
148     68
45      67
Name: runs, dtype: int64

In [132]:
ipl[::3]

match_no
128    113
164    100
81      93
160     84
117     79
      ...
75       1
113      1
91       0
93       0
8        0
Name: runs, Length: 72, dtype: int64

In [133]:
ipl[-10:]

match_no
1      1
87     0
91     0
206    0
207    0
93     0
211    0
130    0
8      0
135    0
Name: runs, dtype: int64

In [135]:
ipl[-10:-5]

match_no
1      1
87     0
91     0
206    0
207    0
Name: runs, dtype: int64

In [138]:
# fancy indexing
# fancy indexing we get the specific index values 

movies[[2,5,200,15,1000]]

movie
Zindagi Tere Naam        Mithun Chakraborty
Zindaggi Rocks                 Sushmita Sen
Student of the Year 2          Tiger Shroff
Yuvvraaj                        Salman Khan
Ghanchakkar (film)              Vidya Balan
Name: lead, dtype: object

In [139]:
# slicing through indexing

movies['Student of the Year 2']

'Tiger Shroff'

## Editing Series

In [143]:
ser = [10,20,15,22,34,65,76,19,30,25]

ser  = pd.Series(ser)
ser

0    10
1    20
2    15
3    22
4    34
5    65
6    76
7    19
8    30
9    25
dtype: int64

In [146]:
ser[1] = 100

In [148]:
ser

0     10
1    100
2     15
3     22
4     34
5     65
6     76
7     19
8     30
9     25
dtype: int64

In [149]:
ser[20] = 90

In [150]:
ser

0      10
1     100
2      15
3      22
4      34
5      65
6      76
7      19
8      30
9      25
20     90
dtype: int64

In [153]:
ser[2:5] = [130,12,13]
ser

0      10
1     100
2     130
3      12
4      13
5      65
6      76
7      19
8      30
9      25
20     90
dtype: int64

In [155]:
ser[[20,8,6]] = [85,45,70]

ser

0      10
1     100
2     130
3      12
4      13
5      65
6      70
7      19
8      45
9      25
20     85
dtype: int64

In [157]:
ser[5] = 'Practice'
ser

0           10
1          100
2          130
3           12
4           13
5     Practice
6           70
7           19
8           45
9           25
20          85
dtype: object

In [159]:
ser[[1,9]] = ['BSC','MSC']

ser

0           10
1          BSC
2          130
3           12
4           13
5     Practice
6           70
7           19
8           45
9          MSC
20          85
dtype: object

In [161]:
dict(ser)
list(ser)

[10, 'BSC', 130, 12, 13, 'Practice', 70, 19, 45, 'MSC', 85]

In [164]:
for i in ser.index:
    print(i)

0
1
2
3
4
5
6
7
8
9
20

In [182]:
# Boolean indexing

marks_ser[marks_ser>60]

Computer    70
Math        65
Name: Marks of Students, dtype: int64

In [190]:
ipl[ipl>30]

93

In [192]:
ipl[ipl>30].count()

93

In [196]:
# Count number of day when I had more than 200 subs a day

subs[subs>200].count()

59

In [209]:
movies_value = movies.value_counts()

movies_value[movies_value>20]

Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
Shah Rukh Khan      22
Emraan Hashmi       21
Name: lead, dtype: int64

In [210]:
movies.isnull().sum()

0

In [212]:
ipl.isnull().sum()

0

In [215]:
ipl.duplicated().sum()

137

In [218]:
ipl.drop_duplicates()

match_no
128    113
126    109
123    108
164    100
82      99
      ...
195      4
13       3
26       2
5        1
87       0
Name: runs, Length: 78, dtype: int64

In [219]:
ipl.isnull().sum()

0

In [221]:
import numpy as np
temp = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [222]:
temp.isnull().sum()

3

In [224]:
temp.size

10

In [225]:
temp.count()

7

In [229]:
temp.dropna(inplace=True)
temp

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64